:root {
    --basic-color: #283136;
    --button-color: #FFFFFF;
    --accent-color: rgba(68, 68, 68, 1);
    --link-color: #000000;
    --background-color: #EEEEEE;
    --adress-color: #666666;
    --color-gray: #ABABAB;
    --color-gray2: #F1F1F1;
    --border-gray: #DBDBDB;
    --visited-pagination: rgba(0, 0, 0, 0.0001);
    
    --color-shadow: rgba(0, 1, 1, 0.1);
    
    --button-color-red: #FB565A;
    --button-color-red-hover: #E74246;
    --button-color-red-active: #D7373B;
    
    --button-color-green: #00CA74;
    --button-color-green-hover: #00BC6C;
    --button-color-green-active: #00AA66;
    
    --button-color-yellow: #EFC84A;
    --button-color-yellow-hover: #EAB534;
    --button-color-yellow-active: #E5A722;
    
    --button-color-gray: #EEEEEE;
    --button-color-gray-hover:#DFDFDF;
    --button-color-gray-active:#D5D5D5;
    
    --checkbox-color: #4D4D4D;
	
	--input-color: #D7DCDE;
	--input-color-hover: #B4B9BB;
	
	--modal-shadow: rgba(0, 0, 0, 0.4);
}

/*  ******* visually-hidden  ********* */


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ************ Button *************** */

.button_red {
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 54px;
    padding-right: 54px;
    border-radius: 3px;
  font: inherit;
  text-align: center;
  color: var(--button-color);
    font-weight: 500;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--button-color-red);
  border: none;
}

.button_red:hover,
.button_red:focus {
    background-color: var(--button-color-red-hover);
}

.button_red:active {
    background-color: var(--button-color-red-active);
    box-shadow: inset 0px 3px 0px var(--color-shadow);
    
}

.text_button_red {
    display: inline-block;
}

.button_red:active .text_button_red{
    opacity: 30%;
}


/*        */

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
    width: 1160px;
    margin:0 auto;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;  
}

body {
    font-family: 'Roboto';
    font-size: 16px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}




/* ********* Main header *********** */

.header_logo:active {
    opacity: 30%;
}

.header_logo {
  width: 160px;
  height: 65px;
}

.main_header {
    width: 100%;
    background-color: var(--background-color);
	background-size: 100%;
}

/* ******** Main navigation ********* */

.main_navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 55px;
    padding-bottom: 7px;
}

.header_logo {
    display: block;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: transparent;
    text-transform: uppercase;
    font-weight:bold;
    width:796px;
    margin:0;
    padding:0;
    align-content: end;
    grid-column-gap: 209px;
}

.navigation_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin:0;
    padding:0;
}

.navigation_a:hover, 
.navigation_a:focus,
.navigation_li:hover,
.navigation_li:focus
{
    color: var(--button-color-red);
}

.basket:hover {
    color: var(--button-color-red);
}

.basket:visited {
    color: var(--button-color-red);
    box-shadow: 0px 2px 0px 0px var(--button-color-red);
}

.navigation_a:active,
.navigation_li:active {
    color: var(--link-color);
    opacity: 0.3;
} 

.basket:active .navigation_a::before {
    opacity: 100%;
}

.navigation_a:visited {
    text-decoration:underline;
}

.navigation_li {
    display: block; 
    padding-bottom: 13px;
}

.navigation_a {
    display: block; 
    padding-bottom: 13px;
}

.navigation_li {
    margin-right: 44px;
}

.navigation_a{
    position: relative;
    padding-left: 36px;
}

.navigation_a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
    top: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 15C5.32843 15 6 14.3284 6 13.5C6 12.6716 5.32843 12 4.5 12C3.67157 12 3 12.6716 3 13.5C3 14.3284 3.67157 15 4.5 15Z' fill='%23A6A6A6'/%3E%3Cpath d='M12.5 15C13.3284 15 14 14.3284 14 13.5C14 12.6716 13.3284 12 12.5 12C11.6716 12 11 12.6716 11 13.5C11 14.3284 11.6716 15 12.5 15Z' fill='%23A6A6A6'/%3E%3Cpath d='M15 2H4.07L3.648 0H0V2H2.031L4.016 11H15V9H9.441L15 6.951V2Z' fill='%23A6A6A6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket a,
.navigation_list a {
    display: block;
}



/* ********  Slide Block ************ */



.slider {
    width: 1160px;
	margin-bottom: 80px;
    
}

.slide_list {
    list-style: none;
    margin: 0;
    padding: 0;
}


#slide2 {
    display: none;
}

#slide3 {
    display: none;
}

.slide_current {
    display: block;
}

.slide_text {
    display: grid;
    grid-template-columns: 400px 760px;
    background-color: var(--background-color);
    position: relative;
}
.slide_head {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: var(--link-color);
}

.slide_description {
    color: var(--basic-color);
    line-height: 24px;
    margin-bottom: 38px;
}


.slider_button {
    position: absolute;
	display: flex;
	width: 88px;
	justify-content: space-between;
    bottom: 96px;
    left: 536px;
}

.slider_button button {
	width: 18px;
	height: 18px;
	background-color: var(--button-color);
	border-radius: 50%;
	border: none;
}

.button_current {
	
	width: 18px;
	height: 18px;
	background-color: var(--button-color);
	border: 164px solid #C1C1C1;
	border-radius: 50%;
}

/* *********************************** */


.servise_list {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 400px 400px 400px;
}

.service{
    margin-bottom: 80px;
}


.service p {
    color: var(--basic-color);
    line-height: 24px;
}

.service h3  {
    font-size: 24px;
    text-transform: uppercase;
}

.service button {
    font-size: 16px;
    color: var(--button-color);
    text-transform: uppercase;
}

.servise_block {
}

.servise_list {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    
}



/* ********* Красная кнопка ********* */

.button_servise, .button_servise_green, .button_servise_yellow {
    
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    font: inherit;
    margin-right: 16px;
    padding: 10px 30px;
    text-align: center;
    background-color: var(--button-color-red);
border-radius: 3px;
    border: none;
}
    
.button_servise:hover,
.button_servise:focus {
    background-color: var(--button-color-red-hover);
}

.button_servise:active{
    background-color: var(--button-color-red-active);
}

.button_servise:active, .button_servise_green:active, .button_servise_yellow:active {
    box-shadow: inset 0px 3px 0px var(--color-shadow);
}


/* ********* Зелёная кнопка ********** */

.button_servise_green {  
  background-color: var(--button-color-green);
}
    
.button_servise_green:hover,
.button_servise_green:focus {
    background-color: var(--button-color-green-hover);
}

.button_servise_green:active {
    background-color: var(--button-color-green-active);
}

/* ********* Жёлтая кнопка *********** */

.button_servise_yellow {
    
  background-color: var(--button-color-yellow);
}
    
.button_servise_yellow:hover,
.button_servise_yellow:focus {
    background-color: var(--button-color-yellow-hover);
}

.button_servise_yellow:active {
    background-color: var(--button-color-yellow-active);
}


/* ********* Кнопка Фильтр *********** */




/* ************************************* МЫ МАЛЕНЬКАЯ, НО ГОРДАЯ ДИЗАЙН СТУДИЯ ************************************** */

.index-columns {
    display:grid;
    grid-template-columns: 1fr 360px;
    margin-bottom: 73px;
}

.index-column_left



.index-head {
    font-size: 45px;
}

.index-columns2 {
    margin-left: 0;
    padding-left: 0;
}

/*
.index_item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: var(--basic-color);
  transform: rotate(45deg);
} */

.index-text {
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 40px;
    font-size: 16px;
}

.index_p {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 24px;
    color: var(--basic-color);
}

.index_list {
    padding: 0;
    list-style: none;
    width: 600px;
}


.index_item {
    position: relative;
    padding-left: 32px;
    color: var(--basic-color);
    line-height: 24px;
}

.index_item::before {
    position: absolute;
    content: " ";
    width: 25px;
    height: 2px;
    background-color: var(--button-color-red);
    top: 8px;
    left: 0px;
}


/*___________________________________*/

.container_advantages {
    display: grid;
    align-items: center;
    align-content: center;
    
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 31px;
    text-align: center;
}

.nerds_advantages {
    margin-bottom: 37px;
    }

.list_advantages {
    display: grid;
    width: 360px;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}


.quantity {
    text-align: left
}

.quantity span {
    font-size: 45px;
    line-height: 64px;
}

.quantity sup {
    font-size: 26px;
}

.quantity p {
    color: var(--basic-color);
    font-weight: normal;
    text-transform: none;
}


/* ******* Блок с логотипами *******  */

.logo_block{
    display: grid;
    grid-template-columns: 199px 1fr 209px 1fr 185px 1fr 173px;
    align-items:center;
    margin-bottom: 44px;
    margin-left: 32px;
    margin-right: 41px;
    grid-column-gap: 50px;
    
    
}

.logo_img {
    opacity: 20%;
}

.logo_img:hover,
.logo_ing:focus {
    opacity: 100%;
}

.logo_img:active {
    opacity: 10%;
}


/*  ********   РАЗДЕЛИТЕЛИ   ********** */

.separator {
    height: 2px;
    width: 1160px;
    margin-bottom: 46px;
    background-color: var(--background-color);
}

.separation {
    width: 2px;
    height: 52px;
    background-color: var(--background-color);
}

/* ********* Модальное окно ********   */



.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	color: black;
	background-color: var(--button-color);
}

.modal_login {
	visibility: hidden;
	display: grid;
	justify-content: center;
	top: 20px;
	width: 960px;
	height: 500px;
	box-shadow: 0px 20px 40px var(--modal-shadow);
	padding-top: 63px;
}


.form_block {
	display: grid;
	grid-template-columns: 360px 360px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 760px;
	margin-bottom: 34px;
}

.modal_text {
	display: block;
	font-size: 45px;
	font-weight: bold;
	margin: 0;
}


.form_textarea {
	width: 760px;
}

#name,
#email, 
#text1 {
	padding-top: 20px;
}


.form_input {
	width: 360px;
}


.label_form {
	display: block;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 9px;
}


#name:hover,
#email:hover, 
#text1:hover {
	border: 2px solid var(--input-color-hover);
}

#name:active,
#name:focus,
#email:active,
#email:focus,
#text1:active,
#text1:focus {
	border: 2px solid var(--link-color);
	color:aqua;
}

#name:invalid,
#email:invalid, 
#text1:invalid {
	border: 2px solid var(--button-color-red-hover);
}


.login_form input {
	width: 360px;
	background-color: var(--button-color);
	border: 2px solid var(--input-color);
	box-sizing: border-box;
	border-radius: 3px;
	height: 50px;
	padding: 16px;
}


.login_form textarea {
	width: 760px;
	background-color: var(--button-color);
	border: 2px solid var(--input-color);
	box-sizing: border-box;
	border-radius: 3px;
	height: 118px;
	padding: 16px;
}





      /* Кнопка Формы отправить */



.submit_form {
	font-size: 16px;
	width: 259px;
	height: 50px;
    border-radius: 3px;
	text-align: center;
	color: var(--button-color);
    font-weight: 500;
	text-transform: uppercase;
	background-color: var(--button-color-red);
	border: none;
	margin-top: 47px;
}


.submit_form:hover,
.submit_form:focus {
    background-color: var(--button-color-red-hover);
} 


.submit_form:active {
    background-color: var(--button-color-red-active);
    box-shadow: inset 0px 3px 0px var(--color-shadow);
}




/*  _____  Кнопка Закрыть ___________ */

.modal_close {
	position: absolute;
	top: 78px;
	right: 90px;
	width: 21px;
	height: 21px;
	border: none;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.3'%3E%3Cpath d='M13.3299 10.5005L20.7072 3.12321C21.0963 2.7317 21.0963 2.09952 20.7072 1.70801L19.292 0.291799C18.9005 -0.0972665 18.2683 -0.0972665 17.8768 0.291799L10.4995 7.67009L3.12221 0.2928C2.7307 -0.0962657 2.09852 -0.0962657 1.70701 0.2928L0.291799 1.70801C-0.0972665 2.09952 -0.0972665 2.7317 0.291799 3.12321L7.66909 10.5005L0.291799 17.8778C-0.0972665 18.2693 -0.0972665 18.9015 0.291799 19.293L1.70801 20.7082C2.09952 21.0973 2.7317 21.0973 3.12321 20.7082L10.5005 13.3309L17.8778 20.7082C18.2693 21.0973 18.9015 21.0973 19.293 20.7082L20.7082 19.293C21.0973 18.9015 21.0973 18.2693 20.7082 17.8778L13.3299 10.5005Z' fill='%23FB565A'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.modal_close:hover,
.modal_close:focus {
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='1'%3E%3Cpath d='M13.3299 10.5005L20.7072 3.12321C21.0963 2.7317 21.0963 2.09952 20.7072 1.70801L19.292 0.291799C18.9005 -0.0972665 18.2683 -0.0972665 17.8768 0.291799L10.4995 7.67009L3.12221 0.2928C2.7307 -0.0962657 2.09852 -0.0962657 1.70701 0.2928L0.291799 1.70801C-0.0972665 2.09952 -0.0972665 2.7317 0.291799 3.12321L7.66909 10.5005L0.291799 17.8778C-0.0972665 18.2693 -0.0972665 18.9015 0.291799 19.293L1.70801 20.7082C2.09952 21.0973 2.7317 21.0973 3.12321 20.7082L10.5005 13.3309L17.8778 20.7082C18.2693 21.0973 18.9015 21.0973 19.293 20.7082L20.7082 19.293C21.0973 18.9015 21.0973 18.2693 20.7082 17.8778L13.3299 10.5005Z' fill='%23FB565A'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.modal_close:active {
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.1'%3E%3Cpath d='M13.3299 10.5005L20.7072 3.12321C21.0963 2.7317 21.0963 2.09952 20.7072 1.70801L19.292 0.291799C18.9005 -0.0972665 18.2683 -0.0972665 17.8768 0.291799L10.4995 7.67009L3.12221 0.2928C2.7307 -0.0962657 2.09852 -0.0962657 1.70701 0.2928L0.291799 1.70801C-0.0972665 2.09952 -0.0972665 2.7317 0.291799 3.12321L7.66909 10.5005L0.291799 17.8778C-0.0972665 18.2693 -0.0972665 18.9015 0.291799 19.293L1.70801 20.7082C2.09952 21.0973 2.7317 21.0973 3.12321 20.7082L10.5005 13.3309L17.8778 20.7082C18.2693 21.0973 18.9015 21.0973 19.293 20.7082L20.7082 19.293C21.0973 18.9015 21.0973 18.2693 20.7082 17.8778L13.3299 10.5005Z' fill='%23FB565A'/%3E%3C/g%3E%3C/svg%3E%0A");
}





/*  ___________________________ */

.filter {
	margin-top: 55px;
}

.filter legend {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.filter label {
    color: var(--basic-color);
}

.filter button {
    text-transform: uppercase;
    font-weight: bold;
}


/* *********** Сортировка ********* */

.header_text {
    margin-top: 72px;
    margin-bottom: 108px;
    font-size: 55px;
    font-weight: 500;
    text-align: center;
}

/* *********** Сортировка ********* */

.sort {
    display: flex;
    margin-bottom: 55px;
    margin-top: 55px;
    align-items: flex-end;
}

.sorting_type_text {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 266px;
}

.sorting_text {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--link-color);
    opacity: 30%;
    font-size: 14px;
    white-space: nowrap;
}

.sorting_text:hover,
.sorting_text:focus {
    opacity: 60%;
}

.sorting_text:active,
.sorting_text:visited {
    opacity: 100%;
}

.sorting_text.price {
    margin-right: 25px;
}

.sorting_text.type {
    margin-right: 26px;
}

.sorting_text.name {
    margin-right: 47px;
} 

.sorting_text.arrow {
    margin-right: 14px;
} 

    
/* ********** Каталог *********** */

.main_catalog{
    display: grid;
    min-width: 100%;
    height: auto;
    grid-template-columns: 260px 1fr;
}

.catalog {
    margin-left: 140px;
    margin-bottom: 60px;
}

.catalog_block {
    display: flex;
    flex: 1fr 1fr;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
}


.container_product {
    position:relative;
    overflow: hidden;
    border-radius: 5px;
    width: 360px;
    height: 620px;
    margin-right:40px;
    margin-bottom: 30px;
    border-radius: 5px;
}


.catalog_product {
    display: grid;
    grid-template-rows: 40px 576px;
    grid-template-columns: 1fr;
    width: 360px;
    height: 620px;
    margin-right:40px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.product_description {
    position: absolute;
    top: 389px;
    width: 360px;
    height: 231px;
    background-color: var(--background-color);
}

.container_product:hover,
.container_product:focus {
    box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.path {
    opacity: 0.12;
    width: 360px;
    height: 40px;
}

.container_product:hover .path, 
.container_product:focus .path {
    opacity: 1;
}

.container_product:nth-child(2n) {
    margin-right:0;
}

.product_description {
    opacity: 0%;
    padding-top: 26px;
    text-align: center;
}

.container_product:hover .product_description, 
.container_product:focus .product_description {
    opacity: 1;
}

.name_product {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.name_product:hover,
.name_product:focus {
    color: var(--button-color-red);
}

.name_product:active {
    color: var(--link-color);
    opacity: 30%;
}

.name2 {
    font-size: 16px;
    color: var(--adress-color);
    margin-bottom: 32px;
    line-height: 18px;
}


.button_price {
    background-color: var(--button-color-red);
    color: var(--button-color);
    border: none;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: 500;
}

.button_price:hover,
.button_price:focus {
    background-color: var(--button-color-red-hover);
}

.button_price:active{
    background-color: var(--button-color-red-active);
    box-shadow: inset 0px 3px 0px var(--color-shadow);
}


/*  Фильтр Цена  */

.price_filter {
    margin-top: 55px;
    margin-bottom: 54px;
}

.price_filter, .grid_filter, .features_filter {
    margin: 0;
    padding: 0;
    border: none;
}


.features_filter {
	margin-top: 43px;
}


.price_range {
    width: 260px;
    margin-top: 49px;
}

.price_controls {
    height: 41px;
    background-color: var(--background-color);
    margin-bottom: 15px;
    border-radius: 5px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    height: 41px;
}

.price_scale {
    height: 2px;
    background: #d7dcde;
    
}

.price_bar {
    width: 70%;
    height: 2px;
    background: var(--button-color-green);
}

.toggle {
    position: absolute;
    top: 31px;
    left: 0;
    padding: 0;
    width: 4px;
    height: 4px;
    border: 8px solid var(--button-color);
    border-radius: 50%;
    background-color: var(--color-gray);
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
    
}

.toggle_min {
    left: 18px;
}

.toggle_max {
    left: 160px;
}

.price {
    display: flex;
    justify-content: space-between;
}

.label_price {
    text-transform: uppercase;
    font-family: "Roboto", "Arial" sans-serif;
    font-size: 16px;
}
    
.input_price {
    width: 60px;
    padding: 10px;
    text-align: center;
    color: var(--basic-color);
    border: none;
    border-radius: 5px;
    background: var(--background-color);
}
    
/* ********* Фильтры чекбоксы ********  */

.legend_filter {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 700;
    
}

.label_checkbox {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
    padding-left: 36px;
}

.label_checkbox:hover,
.label_checkbox:focus {
}

.label_checkbox::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid var(--checkbox-color);
    border-radius: 3px;
    opacity: 40%;
}


.label_checkbox:hover::before,
.label_checkbox:focus::before {
    opacity: 100%;
}


.checkbox_filter:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.23726 6.48591L0.426758 9.31491L8.15887 17.0979L21.9998 3.16591L19.1903 0.336914L8.15887 11.4389L3.23726 6.48591Z' fill='%234D4D4D'/%3E%3C/svg%3E%0A");
	
	background-repeat: no-repeat;
	background-position: 0 0;
	
}


.checkbox_filter:checked: + label::after

{
	
}

/*  Фильтры радиокнопки   */

.filter_legend {
    margin-bottom: 19px;
    margin-top: 46px;
}

.filter_option {
    padding-bottom: 15px;
}

.label_radio {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
    padding-left: 36px;
    color: var(--basic-color);

}

.label_radio:hover::before,
.label_radio:focus::before {
    opacity: 100%;
}

.label_radio::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -1px;
  width: 17px;
  height: 17px;
  border: 3px solid var(--checkbox-color);
  border-radius: 50%;
    opacity: 40%;
}

.radio_filter:checked + label::after {
   content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  width: 9px;
  height: 9px;
  background-color: var(--checkbox-color);
  border-radius: 50%;
    opacity: 40%;
}

/* ***********  Кнопка  ************  */

.button_gray {

  margin-right: 16px;
  font: inherit;
    padding-left: 88px;
    padding-right: 89px;
    padding-top: 17px;
    padding-bottom: 15px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--button-color-gray);
    border-radius: 3px;
    border: none;
	margin-top: 48px;
}
    

.button_gray:hover,
.button_gray:focus {
    background-color: var(--button-color-gray-hover);
}

.button_gray:active {
    background-color: var(--button-color-gray-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

    

/* ***********  Пагинация *********** */

.pagination {
    display: flex;
    padding: 0 5px;
}

.pagination_button {
    display: inline-block;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    background-color: var(--background-color);
    flex: 1 1 auto;
    margin: 0 5px;
    color: var(--link-color);
    text-transform: uppercase;
    font-weight: 500;
}

.pagination_button:hover,
.pagination_button:focus {
    background-color: var(--button-color-gray-hover);
}

.pagination_button:active {
    background-color: var(--button-color-gray-active);
    box-shadow: inset 0px 3px 0px var(--color-shadow);
}

.pagination_button:visited {
    background: var(--visited-pagination);
    border: 3px solid var(--border-gray);
    box-sizing: border-box;
    
}


/* *********** FOOTER *************  */

.page_footer {
    display: grid;
    margin-bottom: 76px;
    
}

/* Map */

.map{
    margin-bottom: 68px;
    
}

.map_img {
    position: relative;
}

.adress {
    background-color: var(--button-color);
    width: 319px;
    height: 308px;
     
    position:absolute;
    top: 19px;
    left: 140px;
}

.adress_head {
    text-transform: uppercase;
    font-size: 18px;
}

.adress_text {
    margin-top: 49px;
    margin-left: 50px;
    line-height: 18px;
}

.adress_tel {
    font-weight: normal;
    color: var(--adress-color);
}

marker_map {
    position: absolute
        left: 100px;
}
    

.button_red_map {
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 44px;
    padding-right: 44px;
    border-radius: 3px;
  font: inherit;
  text-align: center;
  color: var(--button-color);
    font-weight: 500;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--button-color-red);
  border: none;
}

.button_red_map:hover,
.button_red__map:focus {
    background-color: var(--button-color-red-hover);
}

.button_red_map:active {
    background-color: var(--button-color-red-active);
    box-shadow: inset 0px 3px 0px var(--color-shadow);
    
}

.map {
    display: inline-block;
}

.button_red_map:active .text_button_red{
    opacity: 30%;
}




/* **********   Соцсети  ************* */

.social_network {
    display: grid;
    grid-template-columns: 261px 1fr;
    grid-column-gap: 139px;
}

.icon_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    width: 261px;
}

.vk, .facebook, .instagram {
    width: 81px;
    height: 81px;
}

.vk:hover .icon_background,
.vk:focus .icon_background,
.facebook:hover .icon_background,
.facebook:focus .icon_background,
.instagram:hover .icon_background,
.instagram:focus .icon_background {
    fill: var(--button-color-red-hover);
}

.vk:active .icon_logo,
.facebook:active .icon_logo,
.instagram:active .icon_logo {
    fill: var(--button-color);
    opacity: 30%;
}

.vk:active .icon_background,
.facebook:active .icon_background,
.instagram:active .icon_background {
    fill: var(--button-color-red-active);
}

.bottom_section {
    text-align: start;
    
}

.bottom_section h2 {
    font-size: 36px;
    line-height: 14px;
}

.bottom_section p {
    color: var(--accent-color);
}
