:root {
    --basic-color: rgba(40, 49, 54, 1);
    --button-color: #FFFFFF;
    --accent-color: rgba(68, 68, 68, 1);
    --link-color: #000000;
    --background-color: #EEEEEE;
}

.page {
    height: 100%;
}

body {font-family: 'Roboto';
font-size: 16px;}

header {
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}
.menu {
    display: flex;
    text-transform: uppercase;
    font-weight:bold;
}

.navigation {
   list-style-type: none; 
}

.service {
    display: grid;
}

.service p {
    color: var(--basic-color);
    line-height: 24px;
}

.service h3  {
    font-size: 24px;
    text-transform: uppercase;
}

.service button {
    font-size: 16px;
    color: var(--button-color);
    text-transform: uppercase;
}

.form {
    display:none;
}

}
.bottom_section {
    line-height: 22px;
}

.bottom_section h2 {
    font-size: 36px;
} 

.bottom-section p {
    color: var(--accent-color);
}

.headline {
    font-size: 55px;
    text-align: center;
} 

.filter {
    display: grid;
}

.filter legend {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.filter label {
    color: var(--basic-color);
}

.filter button {
    text-transform: uppercase;
    font-weight: bold;
}

.page_footer {
    display: grid;
}

.catalog {
    display: flex;
}